.item-add__input{
	height: 50px;
	width: 75%;
    max-width: 1200px;
	background: none;
	border-radius: 0.5em;
	font-size: 22px;
	padding-left: 0px;
	text-align: center;
	background-color: #fff;
}
.item-add__input.price{
	width: 46%;
}
.item-add__form>label{
	font-size: 180%;
	width: 100px;
	text-align: center;
	/* font-size: 25px; */
}
.result-block{
	background-color: #222222;
	color: white;
	width: 100%;
	max-width: 330px;
	/* height: 200px; */
	display: flex;
	flex-direction: column;
	border-radius: 1em;
	align-items: center;
	gap: 20px;
	justify-content: center;
	padding: 50px 20px;
	max-width: 250px;
	margin-left: calc(50% - 290px / 2);
	/* flex: 0 0 33%; */
}

.result-block-item{
	width: 90%;
	max-width: 280px;
	display: flex;
	justify-content: center;
	gap: 20px;
	text-overflow: ellipsis;
}
.result-block-value{
	white-space:nowrap;
	text-overflow: ellipsis;
	overflow:hidden;
}
.result-block-item.adress{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.main-block-tree{
	display: flex;
 	flex-wrap: wrap;
	gap: 20px;
	margin: 0 50px;
	justify-content: center;
	transition: .3s;
	margin-bottom: 50px;
}

.accounts-stats-block{
	width: 97%;
	display: flex;
	justify-content: space-between;
	max-width: 1200px;
}

.accounts-stats-block button{
	text-decoration: underline;
}

.add-avatar-block{
	display: flex;
	justify-content: center;
}

.add-avatar-block img{
	background-color: #222;
	padding: 5px;
	border-radius: 100%;
	cursor: pointer;
}